<h2>Contact <h2>

<h3>People</h3>
<p style="width: 50%">
  <%= image_tag 'don-hottub-deck.jpg', :style => "float: right; margin-left: 4em" %>
  <p>
  <%= link_to 'Don Park', :controller => :users, :action => :show, :id => 'Don Park'%> - Founder.  <br/>
  Portland technologist and systems experimenter.
  don.park@everyonedelivers.com
  </p>
</p>
<br clear="all" />

<h3>Thanks to</h3>
<ul>
  <li>Various nedspace residents - Bussiness development feedback</li>
  <li>Tamara Hill-Tanquist, Beverly Fields - Web design feedback </li>
</ul>
