<h2>Contact <h2>

<h3>People</h3>
<p>
Don Park - Founder. don.park@everyonedelivers.com
</p>

<h3>Thanks to</h3>
<ul>
  <li>Various nedspace residents - Bussiness development feedback</li>
  <li>Tamara Hill-Tanquist, Beverly Fields - Web design feedback </li>
</ul>
