<p>
EveryoneDelivers 
</p>

<p>
Crowdsourced delivery service. <br/>
</p>

<p>
Take kozmo.com, take out the inventory, take out the employees,
add the open-to-anyone features of mechanical turk, and give
many many people a way to make a buck.
</p>
