<div id="splash">
 <h2>EveryoneDelivers</h2>
 <p id="splashwhy">
  EveryoneDelivers is a marketplace for delivery services. 
 </p>

 <div id="splashleft">
  <h3>Request a delivery.</h3>
  <p>
    Have items and food delivered to
    your door. You set the delivery cost.
  </p>
 </div>
 <div id="splashright">
  <h3>Make a delivery.</h3>
  <p>
    Deliver items to people and earn
    the delivery bounty.
  </p>
 </div>
 <br clear="all"/>

  <p id="openidprovidertable">
    Login to begin!
  
    <div class="openidproviderbox">
      Login with Google<br/>
      <%= link_to image_tag("google_button_150_47.png"), :controller => :session,
                                                         :action => :login,
                                                         :openid_identifier => "https://www.google.com/accounts/o8/id" %>
    </div>
    <div class="openidproviderbox" id="openidyahoo">
      Login with Yahoo<br/>
      <%= link_to image_tag("yahoo_button_150_47.png"), :controller => :session,
                                                        :action => :login,
                                                        :openid_identifier => "http://www.yahoo.com" %>
    </div>
  </p>

</div>
