<p>
EveryoneDelivers 
</p>

<p>
Crowdsourced delivery service. <br/>
</p>

<p>
  <%= render :partial => 'deliveries/list', :locals => {:deliveries => @deliveries} %>
</p>

<% if logged_in? %>
  <% form_for Delivery.new do |f| %>
    <%= f.submit 'Create a delivery listing' %>
  <% end %>
<% else %>
  Login to list or accept a delivery.
<% end %>

<br/>
Watch the <%= link_to 'activity journal', :controller => :journal %>
