<p id="slogan">
Fulfill someone's delivery request and earn the delivery bounty!
</p>

<div class="clockedinbox">
  <div class="clockedinpeople">
    <p>
      Currently available delivery people 
    </p>
    <div style="float:left">
      <ul>
      <% @clocked_ins.each do |user| %>
        <li><%= user.username %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <br/>
  <% if logged_in? %>
    <% clockedin = current_user.clocked_in? %>
    <div style="background:blue; float: left; text-align: center; margin-top: 5%">
      Clocked <br/>
      <span style="font-size: 150%"><%= clockedin ? "In" : "Out"%></span> 
      <br/>
      <% form_tag({:controller => :users, :action => (clockedin ? :clock_out : :clock_in),
               :id => current_user.username}) do %>
        <%= submit_tag "Clock #{clockedin ? "OUT" : "IN"}" %>
      <% end %>
    </div>
  <% end %>
</div>

<p style="margin-bottom: 0px">
Delivery requests...
  <% @delivery_groups.each do |group| %>
    <%= render :partial => 'deliveries/list', :locals => {:timedesc => group.first, :deliveries => group.last} %>
  <% end %>
</p>

<% if logged_in? %>
<% else %>
  Login to create or accept a delivery.
<% end %>
