<p>
EveryoneDelivers 
</p>

<p>
Crowdsourced delivery service. <br/>
</p>

<%= link_to 'Create a delivery listing', new_delivery_path %>
<% form_for Delivery.new do |f| %>
  <%= f.submit 'Create a delivery listing' %>
<% end %>
