<p id="slogan">
Fulfill someone's delivery request and earn the delivery bounty!
</p>

<p style="margin-bottom: 0px">
Delivery requests...
  <% @delivery_groups.each do |group| %>
    <%= render :partial => 'deliveries/list', :locals => {:timedesc => group.first, :deliveries => group.last} %>
  <% end %>
</p>

<% if logged_in? %>
<% else %>
  Login to create or accept a delivery.
<% end %>
