<h3> EveryoneDelivers </h3>

<p>
Crowdsourced delivery service. 
</p>

<p>
  <% @delivery_groups.each do |group| %>
    <%= render :partial => 'deliveries/list', :locals => {:timedesc => group.first, :deliveries => group.last} %>
  <% end %>
</p>

<% if logged_in? %>
<% else %>
  Login to create or accept a delivery.
<% end %>

<br/>
Watch the <%= link_to 'activity journal', :controller => :journal %>
