<div id="splash">
 <p id="splashwhy">
  <b>EveryoneDelivers</b> is a marketplace for delivery services. 
 </p>

 <div id="splashrow">
 <div id="splashleft">
  <h3>
    <%= link_to "Request a delivery.", deliveries_path, :method => :post %>
  </h3>
  <p>
    Have items and food delivered to
    your door. You set the delivery cost.
  </p>
 </div>
 <div id="splashright">
  <h3>
    <%= link_to "See delivery requests.", deliveries_path %>
  </h3>
  <p>
    Deliver items to people and earn
    the delivery bounty.
  </p>
 </div>
 </div>

 <div id="sampledelivery">
 <div>
    Example delivery listing:
 </div>
   <%= render :partial => "deliveries/single", :locals => {:delivery => @featured_delivery} %>
 </div>

</div>
