<p>
EveryoneDelivers 
</p>

<p>
Crowdsourced delivery service. <br/>
</p>

<p>
  <% @delivery_groups.each do |group| %>
    <%= render :partial => 'deliveries/list', :locals => {:timedesc => group.first, :deliveries => group.last} %>
  <% end %>
</p>

<% if logged_in? %>
  <% form_for Delivery.new do |f| %>
    <%= f.submit 'Create a delivery listing' %>
  <% end %>
<% else %>
  Login to create or accept a delivery.
<% end %>

<br/>
Watch the <%= link_to 'activity journal', :controller => :journal %>
