<p>
EveryoneDelivers Step 1) Accept a delivery on the website 2) Get pre-paid for the item 
3) Buy the item and delivery it to the destination 4) Keep the delivery fee
</p>

<p>
  <% @delivery_groups.each do |group| %>
    <%= render :partial => 'deliveries/list', :locals => {:timedesc => group.first, :deliveries => group.last} %>
  <% end %>
</p>

<% if logged_in? %>
<% else %>
  Login to create or accept a delivery.
<% end %>
