<div class="centered_50percent textaligncenter">
  <p>
    You did it!
  </p>
  <p>
    Press the link below to 
    start filling in details about your delivery requset.
  </p>
  <% form_for Delivery.new do |f| %>
    <%= submit_tag "Create a delivery"%>
  <% end %>
  </p>

</div>

