<div id="splash">
<p>
  Please login to create a delivery request
</p>

  <p id="openidprovidertable">
    <div class="openidproviderbox">
      Login with Google<br/>
      <%= link_to image_tag("google_button_150_47.png"), :controller => :session,
                                                         :action => :login,
                                                         :openid_identifier => "https://www.google.com/accounts/o8/id" %>
    </div>
    <div class="openidproviderbox" id="openidyahoo">
      Login with Yahoo<br/>
      <%= link_to image_tag("yahoo_button_150_47.png"), :controller => :session,
                                                        :action => :login,
                                                        :openid_identifier => "http://www.yahoo.com" %>
    </div>
  </p>

</div>
