body {
  background: #454141;
}

#slogan {
  color: white;
}

#splash {
  text-align: center;
}

#splashwhy {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

#splash h3 {
  color: orange;
}

#splashrow {
  overflow: auto;
}

#splashleft {
  float: left;
  width: 25%;
  margin-left: 25%;
}
#splashleft p{
  border-right-style: solid;
}

#splashright {
  float: left;
  width: 25%;
  margin-right: 25%;
}

.container {
  font-family: arial;
  padding: 5px;
  background: #545151;
  color: #80AE91;
}

.container a {
  text-decoration: none;
  color: orange;
}

.container a:hover {
  color: #FF7A38;
}

.dark {
  background: #656161   ;
}

.light {
  background: #454141    ;
}

.flashmsgs {
  margin-top: 5px;
  text-align: center;
}

.clockedinbox {
  float: right; 
  color: white; 
  margin-right: 3%;
}

.clockedinpeople {
  background: #9CC445;
  float:left;
}

.clockedinpeople p {
  margin-top: 0.5em;
  margin-bottom: 0px;
  margin-left: 0.3em;
  margin-right: 0.3em;
  border-bottom-style: solid;
}

.clockedinpeople ul {
  list-style: none;
  padding-left: 5%;
  font-size: 130%;
  margin-top: 0px;
  margin-bottom: 5%;
}

.clockedinpeople li a {
  color: green;
}

.clockedinpeople li a:hover {
  text-decoration: underline;
}

.clockedintime {
  font-size: 80%;
}

.header {
  background: #5b8207;
}

.header img {
  border: 0;
}

.header a {
  color: #9CC445;
  font-family: sans-serif;
}

.header a:hover {
  color: white;
  font-family: sans-serif;
  text-decoration: underline;
}

.header ul {
  margin:0px;
  padding:0px;
  display:inline;
  list-style-type:none;
  float: left
}

.header li {
  display:inline;
  /* border-right:1px solid #333333; */
  margin:0px;
  padding:0px;
}

div.header #sub {
  padding: 8px;
  float: right;
}

.menubar {
  margin-top: 10px;
  padding: 8px;
  background: #9CC445;
  color: #D8E3C1;
  overflow: auto;
}

.menubar a {
  color: #33527A;
}

.menubar a:hover {
  color: white;
  text-decoration: underline;
}

.menubar ul {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding:0px;
  display:inline;
  list-style-type:none;
  float: left;
}

.menubar li {
  display:inline;
  margin:5px;
  padding:1px;
}

.menubar li a {
}

.menubar input {
  border: 0;
}

.menubar form#new_delivery {
  float: left;
}

#content {
  margin-top: 10px;
}

.listbox {
  overflow: auto;
}

.deliverylist {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
  list-style-type: none;
  padding-left: 0px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
}

.deliverylist li {
  padding: 4px;
}

.deliveryfee {
  font-size: 150%;
}

.deliverytimes {
  float: left;
}

.deliverypackagename {
  font-size: 130%;
  font-weight: bold;
  margin-left: 4px;
}

.deliverypackageinfo {
  font-size: 110%;
  font-weight: bold;
}

.deliverypackagename a {
  color: #8D9D73;
}

.deliverypackagename a:hover {
  color: green;
}

.deliverylistinguser {
  font-size: 80%;
}

.deliverypackageprice a {
  color: #8D9D73;
}

.deliverypackageprice a:hover {
  color: green;
}

.deliverydetail h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.deliverydetail p {
  margin-top: 0px;
  margin-bottom: 1em;
}

.googlestaticmap {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.googlestaticmap img {
}

.googlestaticmap .direction {
  font-weight: bold;
  font-size: 100%;
  margin-bottom: 5%;
}

.mapaddr {
  margin-left: 10%; 
  margin-right: 10%
}

.mapaddr .address {
}

.mapaddr .map {
  float: left;
  text-align: center; 
  width: 100px;
}

.deliveryitem {
  text-align: center;
}

.deliverypackagefromto {
} 

.deliverypackagefromto .halffromto {
  width: 50%; 
  float: left;
}

#footer {
  margin-top: 10px;
  text-align: center;
  font-size: 80%;
}

#geomsg {
  margin-right: 20px;
  color: #9CC445;
}

.centered_50percent {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.textaligncenter {
  text-align: center;
}

#openidprovidertable {
  font-size: 130%;
}

.openidproviderbox {
}

.openidproviderbox img {
  border: 0;
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
} 

.biglogin {
  font-size: 110%;
}

#edituser form {
  width: 50%;
}

#edituser label {
  width: 5em;
  font-size: 150%;
}

.fieldWithErrors {
  color: yellow;
}

#usershow {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#usermenu ul {
  background: #5B8207;
}

#usermenu li {
  display: inline;
  margin-left: 5em;
}

#sampledelivery {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
}
