body {
  background: #454141     ;
}

.container {
  font-family: arial;
  padding: 5px;
  background: #545151   ;
  color: #82B193  ;
}

.container a {
  text-decoration: none;
  color: orange;
}

.dark {
  background: #656161   ;
}

.light {
  background: #454141    ;
}

.header {
  background: #9CC445  ;
  padding: 8px;
}

.menubar {
  margin-top: 10px;
  padding: 8px;
  background: #9CC445  ;
  color: #D8E3C1       ;
  height: 20px;
}

.menubar a {
  color: #33527A;
}

.menubar a:hover {
  color: green;
}

.header a {
  color: #33527A;
  font-family: sans-serif;
}

.header a:hover {
  color: green;
  font-family: sans-serif;
}

.header ul {
  margin:0px;
  padding:0px;
  display:inline;
  list-style-type:none;
  float: left
}

.header li {
  display:inline;
  /* border-right:1px solid #333333; */
  margin:0px;
  padding:0px;
}


.deliverylist {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
  list-style-type: none;
  padding-left: 0px;
}

.deliverytimes {
  float: left;
}

.deliverypackagename {
  font-size: 110%;
  font-weight: bold;
}

.deliverypackagename a {
  color: #8D9D73;
}

.deliverypackagename a:hover {
  color: green;
}

.deliverylistinguser {
  font-size: 80%;
}

.deliverypackageprice a {
  color: #8D9D73;
}

.deliverypackageprice a:hover {
  color: green;
}

#footer {
  margin-top: 10px;
  text-align: center;
  font-size: 80%;
}


.menubar ul {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding:0px;
  display:inline;
  list-style-type:none;
}

.menubar li {
  display:inline;
  border-right:1px solid #333333;
  margin:0px;
  padding:0px;
}

.menubar input {
  border: 0;
}

.menubar form#new_delivery {
  float: left;
}

