body {
  font-family: arial;
  background: #EEEEEE;
}

a {
  text-decoration: none;
}

.header {
  background: black;
  color: #DAD4BA;
}

.header a {
  color: #DAD4BA;
  font-family: sans-serif;
}

.header a:hover {
  color: blue;
  font-family: sans-serif;
}

.header ul {
  margin:0px;
  padding:0px;
}

.header li {
  border-right:1px solid #333333;
  display:inline;
  float:left;
  list-style-type:none;
  margin:0px;
  padding:0px;
}


.dark {
  background: #BBBBBB; 
}

.deliverylist {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
  list-style-type: none;
  padding-left: 0px;
}

.deliverytimes {
  float: left;
}

.deliverypackagename {
  font-size: 110%;
  font-weight: bold;
}

.deliverypackagename a:link {
  color: #0000FF;
}

.deliverypackagename a:visited {
  color: #0000FF
}

.deliverypackagename a:hover {
  color: green;
}

.deliverypackagename a:active {
  color: #00007F
}

.deliverylistinguser {
  font-size: 80%;
}

.deliverypackageprice a:link {
  color: #5000FF;
}

.deliverypackageprice a:visited {
  color: #5000FF
}

.deliverypackageprice a:hover {
  color: green;
}

.deliverypackageprice a:active {
  color: #00007F
}

#footer {
margin-top: 10px;
}

.menubar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.menubar ul {
  margin:0px;
  padding:0px;
}

.menubar li {
  border-right:1px solid #333333;
  display:inline;
  float:left;
  list-style-type:none;
  margin:0px;
  padding:0px;
}


