<h3> Listed deliveries </h3>

  <%= render :partial => 'deliveries/list', :locals => {:timedesc => "", :deliveries => user.listed_deliveries} %>

<h3> Accepted deliveries </h3>

  <%= render :partial => 'deliveries/list', :locals => {:timedesc => "", :deliveries => user.accepted_deliveries} %>
