<div id="usermenu">
<ul>
  <li>
    <%= link_to 'Profile', :controller => :users, :action => :show, :id => user.username, :tab => 'profile' %>
  </li>
  <li>
    <%= link_to 'Deliveries', :controller => :users, :action => :show, :id => user.username, :tab => 'deliveries' %>
  </li>
  <li>
    <%= link_to 'Location', :controller => :users, :action => :show, :id => user.username, :tab => 'location' %>
  </li>
  <% if logged_in? %>
  <li>
    <%= link_to 'Billing', :controller => :users, :action => :show, :id => user.username, :tab => 'billing' %>
  </li>
  <% end %>
</ul>
</div>
