<script>
  google.maps.event.addDomListener(window, 'load', function() {
    mapinitialize(null,
                  null,
                  null,
                  null,
                  <% if current_user %>
                  <%= "google.maps.UnitSystem."+ 
                                    (current_user.display_measurement == "imperial" ? "IMPERIAL" : "METRIC") %>
                  <% else %>
                    google.maps.UnitSystem.IMPERIAL
                  <% end %>
                 )
    });
</script>

Schedule

<!-- When -->
<!-- Where -->
  <div class="map">
     <div id="gmap" style="width:400px;height:260px"></div>
     <div id="gmaperror"></div>
  </div>
