<% last_schedule = current_user.schedules.last %>
<script>
  google.maps.event.addDomListener(window, 'load', function() {
    mapinitialize(<%= last_schedule ? last_schedule.latitude : "45"%>,
                  <%= last_schedule ? last_schedule.longitue : "-120"%>
                 )
    });
</script>

Schedule

<!-- When -->
<!-- Where -->
  <div class="map">
     <div id="gmap" style="width:400px;height:260px"></div>
     <div id="gmaperror"></div>
  </div>
