<% tab = params[:tab] || 'profile' %>
<% content_for :title do %>
User <%=h @user.username %>
<% end %>
<div id="usershow">
<h3> 
  User Profile for <%=h @user.username %> 
</h3>

<%= render :partial => 'menu', :locals => {:user => @user} %>

<% if ['profile', 'deliveries', 'location', 'billing'].include? tab %>
<%= render :partial => tab, :locals => {:user => @user} %>
<% end %>
</div>
