<table>
  <tr>
  <td>Id</td>
  <td>Description</td>
  <td>Delivery Fee</td>
  <tr>
<% deliveries.each do |d| %>
  <tr>
   <td><%= d.id %></td>
   <td><%= d.package.description %></td>
   <td>$<%= d.fee.display_price %></td>
  </tr>
<% end %>
</table>
