<ul class="deliverylist ">
<% deliveries.each do |delivery| %>
  <li>
    <%= render :partial => "deliveries/single", :locals => {:delivery => delivery} %>
  </li>
<% end %>
</ul>

<br clear="all" />
