---
journal:
  notification_email_address: ""
bunny:
  start:
    user:
    pass:
    host:
google:
  adsense:
    id: "UA-XXXXXX-X"
  maps:
    key: ""
bing:
  maps:
    key: ""
email:
  domain: ""
  from: ""
getsatisfaction:
  company: ""
exception_notifier:
  email: ""
twitter:
  consumer_key: ""
  consumer_secret: ""
  oauth_token: ""
  oauth_secret: ""
shortname:
  url: "http://shorturl.tld"
geonames:
  username:

