body {
  background: #bebebe;
  margin-top: 0px;
}

.container {
  font-family: arial;
  padding-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
  background: #ffffff;
  color: black;
  border-radius: 9px;
}

.container a {
  text-decoration: none;
  color: orange;
}

.container a:hover {
  color: #FF7A38;
  text-decoration: underline;
}


.header {
  background: #5b8207;
  margin: 5px;
  padding: 5px;
  border-radius: 9px;
  color: white;
}

.header .logo img{
  border: 0;
  vertical-align: -50%;
}

.header .logo .logotext {
}

.header a {
  color: #9CC445;
  font-family: sans-serif;
}

.header a:hover {
  color: white;
  font-family: sans-serif;
  text-decoration: underline;
}

.header ul {
  margin:0px;
  padding:0px;
  display:inline;
  list-style-type:none;
  float: left
}

.header li {
  display:inline;
  /* border-right:1px solid #333333; */
  margin:0px;
  padding:0px;
}

div.header #sub {
  padding: 3px;
  float: right;
}

.header .username {
  color: white;
}


#logotext {
  font-size: 150%;
}


.dark {
  background: #656161;
}


.light {
  background: #bebebe;
}

.error {
  color: red;
  font-size: 110%;
}

.flashmsgs {
  margin-top: 0.6em;
  text-align: center;
}

.clockedinbutton {
 float: left; 
 text-align: center; 
 margin-top: 5%
}

.clockedin {
  background: #9CC445;
}

.clockedout {
  margin-left: 10;
  background: black;  
}

.clockedinbox {
  float: right; 
  color: white; 
  margin-right: 3%;
}

.clockedinpeople {
  background: #5B8207;
  float:left;
}

.clockedinpeople p {
  margin-top: 0.5em;
  margin-bottom: 0px;
  margin-left: 0.3em;
  margin-right: 0.3em;
  border-bottom-style: solid;
}

.clockedinpeople ul {
  list-style: none;
  padding-left: 5%;
  font-size: 130%;
  margin-top: 0px;
  margin-bottom: 5%;
}

.clockedinpeople li a {
}

.clockedinpeople li a:hover {
  text-decoration: underline;
}

.clockedintime {
  font-size: 80%;
}

form.edit_delivery {
  color: white;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#slogan {
  color: black;
  margin-top: 0px;
}

#splash {
  text-align: center;
}

#splashwhy {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

#splash h3 {
  color: orange;
}

#splashrow {
  overflow: auto;
}

#splashleft {
  float: left;
  width: 25%;
  margin-left: 25%;
}
#splashleft p{
  border-right-style: solid;
}

#splashright {
  float: left;
  width: 25%;
  margin-right: 25%;
}

.menubar {
  margin-top: 0.6em;
  padding: 8px;
  background: #9CC445;
  color: #D8E3C1;
  overflow: auto;
  clear: right;
}

.menubar a {
  text-decoration: underline;
  color: white;
}

.menubar a:hover {
  color: #33527A;
  text-decoration: underline;
}

.menubar ul {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding:0px;
  display:inline;
  list-style-type:none;
  float: left;
}

.menubar li {
  display:inline;
  margin:5px;
  padding:1px;
}

.menubar li a {
}

.menubar input {
  border: 0;
}

.menubar form#new_delivery {
  float: left;
}

#content {
  margin-top: 10px;
  overflow: auto;
}

.listbox {
  overflow: auto;
}

.deliverylist {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
  list-style-type: none;
  padding-left: 0px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
}

.deliverylist li {
  padding: 4px;
}

.deliverytimes {
  float: left;
}

.deliveryitem {
  border-radius: 6px;
}

.deliveryitem .packagename {
  font-size: 140%;
  font-weight: bold;
  background: #689ca7;
}

.deliveryitem .packagename a {
  color: white;
}

.deliveryitem .packagename a:hover {
  color: white;
}

.deliverypackageinfo {
  float: left;
  text-align: left;
  background: #a4c1c5;
  color: black;
  border-bottom-right-radius: 1.1em;
  padding: 1%;
  -moz-border-radius-bottomright: 1.1em;
  -webkit-border-bottom-right-radius: 1.1em;
  -o-border-bottom-right-radius: 1.1em;
  -ms-border-bottom-right-radius: 1.1em;
}

.deliverypackageinfo .bountytitle {
  font-size: 70%;
  text-align: center;
}

.deliverypackageinfo .deliveryfee {
  font-size: 110%;
  font-weight: bold;
  font-size: 150%;
}

.deliverylistinguser {
  font-size: 80%;
}

.deliverypackageprice a {
  color: #8D9D73;
}

.deliverypackageprice a:hover {
  color: green;
}

.deliverydetail {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.deliverydetail h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.deliverydetail .addressparts h4 {
  text-align: left;
}

.deliverydetail p {
  margin-top: 0px;
  margin-bottom: 1em;
}

.deliverydetail .packagename {
  font-size: 140%;
  font-weight: bold;
  background: #689ca7;
  color: white;
  text-align: center;
}

.deliverydetail .map {
  float:left; 
  margin-right: 40px
}

.deliverydetail .info {
  float:left; 
  margin-right: 2em;
}

.googlestaticmap {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.googlestaticmap img {
}

.googlestaticmap .direction {
  font-weight: bold;
  font-size: 100%;
  margin-bottom: 5%;
}

.mapaddr {
  margin-left: 10%; 
  margin-right: 10%
}

.mapaddr .address {
}

.mapaddr .map {
  float: left;
  text-align: center; 
  width: 100px;
}

.deliveryitem {
  text-align: center;
}

.deliveryitem .duedate {
  float: right;
  font-size: 70%;
  color: white;
}

.deliveryitem .duedate a{
  color: orange;
}
.deliveryitem .duedate a:hover{
  color: #FF7A38;
}

.deliverypackagefromto {
  margin-top: 0.3em;
} 

.deliverypackagefromto .halffromto {
  width: 50%; 
  float: left;
}

#footer {
  margin-top: 10px;
  text-align: center;
  font-size: 80%;
}

#geomsg {
  margin-right: 20px;
  color: #9CC445;
}

.centered_50percent {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.textaligncenter {
  text-align: center;
}

#openidprovidertable {
  font-size: 130%;
}

.openidproviderbox {
}

.openidproviderbox img {
  border: 0;
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
} 

.biglogin {
  font-size: 110%;
}

#edituser form {
  width: 50%;
}

#edituser label {
  width: 5em;
  font-size: 150%;
}

.fieldWithErrors {
  color: yellow;
}

#usershow {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#usermenu ul {
  background: #5B8207;
}

#usermenu li {
  display: inline;
  margin-left: 5em;
}

#sampledelivery {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  margin-top: 1em;
}

.payment_methods {
  list-style-type: none;
  display: inline;
  padding-left: 0px;
}

