<div id="footer">
<%= link_to 'Activity Journal', :controller => :journal %>
|
<%= link_to 'Contact', :controller => :dashboard, :action => :contact %>
|
<%= link_to 'Drop Box', "http://drop.io/everyonedelivers" %>
<div class="small">&copy; 2009 EveryoneDelivers.com</div>
</div>
