<div id="footer">
<%= link_to 'Activity Journal', :controller => :journal %>
|
<%= link_to 'Contact', :controller => :dashboard, :action => :contact %>
|
<%= link_to 'Blog', "http://everyonedelivers.wordpress.com/" %>
<div class="small">&copy; 2009-2012 EveryoneDelivers.com</div>
</div>
