<script type="text/javascript" src="http://www.google.com/jsapi?key=<%=SETTINGS["google"]["maps"]["key"]%>">
</script>
<script type="text/javascript">
 google.load("maps", "2");
</script>
<script type="text/javascript">
function locationUpdated() {
  //alert('location stored on server!');
}

function locCallback(aPosition) {
	var url = '<%= root_url %>users/<%=current_user ? current_user.username : "" %>/update_location';
	var pars = 'latitude=' + aPosition.coords.latitude + '&longitude=' + aPosition.coords.longitude + '&accuracy=' + aPosition.coords.accuracy;
	
        var date = new Date(aPosition.timestamp);
        $('geomsgaddress').innerHTML = '<a id="geomsglink" href="http://maps.google.com/?q='+aPosition.coords.latitude+'%2C'+aPosition.coords.longitude+'&z=15">' +
                                       'lat: '+aPosition.coords.latitude+' long:'+ aPosition.coords.longitude +
                                       '</a>';
        $('geomsgacctime').innerHTML = ' accuracy: '+aPosition.coords.accuracy+ ' meters'; // time: '+date.getHours()+':'+date.getMinutes();
	var myAjax = new Ajax.Request(
			url, 
			{
				method: 'put', 
				parameters: pars, 
				onComplete: locationUpdated
			});
        geocoder = new GClientGeocoder();
        latlng = new GLatLng(aPosition.coords.latitude,aPosition.coords.longitude)
        geocoder.getLocations(latlng, showAddress);
}

function showAddress(response) {
  if (!response || response.Status.code != 200) {
    alert("Status Code:" + response.Status.code);
  } else {
    place = response.Placemark[0];
    $('geomsglink').innerHTML = place.address;
  }
}

function errCallback(aError) {
   $('geomsg').innerHTML = 'location error '+aError.message;
}

if (navigator.geolocation) {  
  navigator.geolocation.getCurrentPosition(locCallback, errCallback);
}

</script>
