<div class="menubar">
  <ul>
    <li> 
    <% if logged_in? %>
    <%= link_to 'Request a delivery', 
                  "javascript:$('new_delivery').submit()" %>
    <% else %>
     <%= link_to 'Login to request a delivery.', :controller => :session, :action => :login_screen %>
    <% end %>
    </li>
    <li>
      <%= link_to 'List deliveries', deliveries_path %>
    </li>
  </ul>

  <% form_tag do %>
  <span style="float:right">
    Search <%= text_field :search, :terms%> 
  </span>
  <% end %>
</div>

<% form_for Delivery.new do |f| %>
<% end %>

