<div class="menubar">
  <% form_for Delivery.new do |f| %>
  <ul>
    <li> 
    <%= f.submit 'Create a delivery listing' %>
    </li>
  </ul>
  <% end %>

  <% form_tag do |f| %>
  <span style="float:right">
    Search <%= text_field :search, :terms%> 
  </span>
  <% end %>
</div>
