<div class="menubar">
  <% form_for Delivery.new do |f| %>
  <ul>
    <li> 
    <% if logged_in? %>
    <%= f.submit 'Create a delivery listing' %>
    <% else %>
     <%= link_to 'Login to create a delivery.', :controller => :session, :action => :login_screen %>
    <% end %>
    </li>
  </ul>
  <% end %>

  <% form_tag do |f| %>
  <span style="float:right">
    Search <%= text_field :search, :terms%> 
  </span>
  <% end %>
</div>
