<div class="menubar">
  <ul>
    <li> 
    <% if logged_in? %>
    <%= link_to 'Create a delivery listing', 
                  "javascript:$('new_delivery').submit()" %>
    <% else %>
     <%= link_to 'Login to create a delivery.', :controller => :session, :action => :login_screen %>
    <% end %>
    </li>
    <li>
     <%= link_to 'Read the activity journal', :controller => :journal %>
    </li>
  </ul>

  <% form_tag do |f| %>
  <span style="float:right">
    Search <%= text_field :search, :terms%> 
  </span>
  <% end %>
</div>

<% form_for Delivery.new do |f| %>
<% end %>
